[submodule "nodejs_externs"]
	path = lib/nodejs_externs
	url = https://github.com/dionjwa/nodejs_externs.git
[submodule "hx-node"]
	path = lib/hx-node
	url = https://github.com/cloudshift/hx-node.git
[submodule "haxe_remoting"]
	path = lib/haxe_remoting
	url = https://github.com/dionjwa/haxe_remoting.git
[submodule "transition9"]
	path = lib/transition9
	url = https://github.com/dionjwa/transition9.git
